<div class="text-slate-500 grid grid-cols-2 gap-2 pb-16">
  <div class="kasir-left-wrap bg-slate-100 px-5 pt-2 pb-10">
    <app-search class="search-box flex gap-2"></app-search>
    <app-categories class="cat-list flex justify-start gap-2 my-5"></app-categories>
    <app-filter class="bg-[#809C6C] block rounded-lg py-2 px-5 text-white mb-5"></app-filter>
    <app-products></app-products>
  </div>
  <div class="kasir-right-wrap bg-white px-5 py-2">
    <!--    <button (click)="getUser3()">User 3</button>-->
    <!--    <button (click)="getUser5()">User 5</button>-->
    <!--    <div *ngFor="let item of filtered">{{item.title}}</div>-->
    <app-carts></app-carts>
  </div>
</div>
